<html>
<head>
  <title>Little Shop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic|Monoton" rel="stylesheet">
</head>
<body></body>
  <div class="header">
    <header>
      <div class="navcontainer">
        <nav class="fixednav">
          <div class="leftnav"><a href="#">LittleSHOP</a></div>
          <div class="rightnav"><a href="/merchants" class="hvr-pop">Merchants</a></div>
          <div class="rightnav"><a href="/items" class="hvr-pop">Items</a></div>
          <div class="rightnav"><a href="/invoices" class="hvr-pop">Invoices</a></div>
        </nav>
      </div>
    </header>
  </div>
  <section>
    <h2>INVOICES</h2>
  </section>
  <table class="invoices_table">
    <% @invoices.each do |invoice| %>
    <tr>
      <td><a href="/invoices/<%= invoice.id %>" class="hvr-pop" id="name-invoice-id"><%= invoice.id %></a></td>
      <td class="create_link"><a href="/invoices/<%= invoice.id %>/edit" >edit</a></td>
      <td>
        <form action="/invoices/<%= invoice.id %>" method='POST'>
          <input type='hidden' name='_method' value='DELETE'>
          <input type='submit' value='delete' class="create_link" />
        </form>
      </td>
    </tr>
    <% end %>
  </table>
  <footer>
    <p>Created by Keegan, JP, and Lucas<p>
  </footer>
  <div class="styled_pagination">
    <div class="page_info">
      <%= page_entries_info @invoices %>
    <br/>
      <%= will_paginate @invoices, :container => false %>
    </div>
  </div>
</body>
</html>
