<html>
<head>
  <title>Little Shop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic|Monoton" rel="stylesheet">
</head>
<body>
  <div class="header">
    <header>
      <div class="navcontainer">
        <nav class="fixednav">
          <div class="leftnav"><a href="#">LittleSHOP</a><img src='/little_shop_logo.png' class="shop-logo"></div>
          <div class="rightnav"><a href="/merchants" class="hvr-pop">Merchants</a></div>
          <div class="rightnav"><a href="/items" class="hvr-pop">Items</a></div>
          <div class="rightnav"><a href="/invoices" class="hvr-pop">Invoices</a></div>
        </nav>
      </div>
    </header>
  </div>
  <section>
    <h2>Invoice: <%= @invoice.id %> - <%= @invoice.status.capitalize %></h2>
    <div class="single_merchant_button">
      <a href="/invoices/<%= @invoice.id %>/edit" class="create_link" >edit</a>
      <form action="/invoices/<%= @invoice.id %>" method='POST' class="form_reset">
        <input type='hidden' name='_method' value='DELETE'>
        <input type='submit' value='delete' class="create_link"/>
      </form>
    </div>
  </section>
  <h2 class="merch-item-heading"><a href="/merchants/<%= @merchant.id %>" class="hvr-pop"> <%= @merchant.name %></a></h2>
  <table class="merchants_table" class="adjust-table-width">
    <tr class="table-headers">
      <th>Item ID</th>
      <th>Item title</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Subtotal</th>
    </tr>
    <% @invoice_items.each do |invoice_item| %>
      <tr>
        <td><a href="/items/<%=invoice_item.item.id%>"><%= invoice_item.item.id %></a></td>
        <td><%= invoice_item.item.name %></td>
        <td><%= invoice_item.quantity %></td>
        <td><%= invoice_item.item.unit_price %></td>
        <td><%= (invoice_item.quantity * invoice_item.item.unit_price) %></td>
      </tr>
      <% end %>
    </table>
    <h3><%= @invoice.total_price %></h3>
  <footer>
    <p>Created by Keegan, JP, and Lucas<p>
  </footer>
</body>
</html>
