<html>
  <head>
    <title>Little Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic|Monoton" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <header>
        <div class="navcontainer">
          <nav class="fixednav">
            <div class="leftnav"><a href="#">LittleSHOP</a><img src='/little_shop_logo.png' class="shop-logo"></div>
            <div class="rightnav"><a href="/merchants" class="hvr-pop">Merchants</a></div>
            <div class="rightnav"><a href="/items" class="hvr-pop">Items</a></div>
            <div class="rightnav"><a href="/invoices" class="hvr-pop">Invoices</a></div>
          </nav>
        </div>
      </header>
    </div>
    <section>
      <h2>Merchants Dashboard</h2>
    </section>
  <div class="special-merchant-container">
    <article id="merchant-most-items">
      <h3>Merchant with most items:</h3>
      <a href="/merchants/<%= @most_items.id %>" class="create_link"><%= @most_items.name %></a>
    </article>
    <article id="merchant-highest-price">
      <h3>Merchant with highest price item:</h3>
      <a href="/merchants/<%= @highest_price.id %>" class="create_link"><%= @highest_price.name %></a>
    </article>
  </div>
  <main>
    <% @merchants.each do |merchant| %>
      <article class="merchant-profile item-container">
      <a href="/merchants/<%= merchant.id %>" class="create_link"><%= merchant.name %></a>
      <p><strong>Item count:</strong> <%= merchant.total_items %></p>
      <p><strong>Average item price:</strong> <%= Money.new(merchant.average_item_price) %></p>
      <p><strong>Total cost of items:</strong> <%= Money.new(merchant.total_items_price) %></p>
    </article>
    <% end %>
  </main>
  <div class="styled_pagination">
    <div class="page_info">
      <%= page_entries_info @merchants %>
    <br/>
      <%= will_paginate @merchants, :container => false %>
    </div>
  </div>
  <footer>
    <p>Created by Keegan, JP, and Lucas<p>
  </footer>
  </body>
</html>
