<html>
<head>
  <title>Little Shop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic|Monoton" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
  <div class="header">
    <header>
      <div class="navcontainer">
        <nav class="fixednav">
          <div class="leftnav"><a href="#">LittleSHOP</a><img src='/little_shop_logo.png' class="shop-logo"></div>
          <div class="rightnav"><a href="/merchants" class="hvr-pop">Merchants</a></div>
          <div class="rightnav"><a href="/items" class="hvr-pop">Items</a></div>
          <div class="rightnav"><a href="/invoices" class="hvr-pop">Invoices</a></div>
        </nav>
      </div>
    </header>
  </div>
  <section>
    <a href="/merchants-dashboard" class="hvr-pop"><i class="fas fa-chart-pie"></i></a>
    <h2>MERCHANTS</h2>
    <a href='/merchants/new' class="create_link">Create New Merchant</a>
  </section>
  <table class="merchants_table">
    <% @merchants.each do |merchant| %>
    <tr>
      <td><a href="/merchants/<%= merchant.id %>" class="hvr-pop"><%= merchant.name %></a></td>
      <td><a href="/merchants/<%= merchant.id %>/edit" class="create_link">edit</a></td>
      <td>
        <form action="/merchants/<%= merchant.id %>" method='POST'>
          <input type='hidden' name='_method' value='DELETE'>
          <input type='submit' value='delete'  class="create_link" />
        </form>
      </td>
    </tr>
    <% end %>
  </table>
  <div class="styled_pagination">
    <div class="page_info">
      <%= page_entries_info @merchants %>
    <br/>
      <%= will_paginate @merchants, :container => false %>
    </div>
  </div>
  <footer>
    <p>Created by Keegan, JP, and Lucas<p>
  </footer>
</body>
</html>
