<html>
<head>
  <title>Little Shop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic|Monoton" rel="stylesheet">
</head>
<body>
  <div class="header">
    <header>
      <div class="navcontainer">
        <nav class="fixednav">
          <div class="leftnav"><a href="#">LittleSHOP</a></div>
          <div class="rightnav"><a href="/merchants" class="hvr-pop">Merchants</a></div>
          <div class="rightnav"><a href="/items" class="hvr-pop">Items</a></div>
          <div class="rightnav"><a href="/invoices" class="hvr-pop">Invoices</a></div>
        </nav>
      </div>
    </header>
  </div>
  <section>
    <h2><%= @item.name %></h2>
    <div class="single_merchant_button">
      <a href="/items/<%= @item.id %>/edit" class="create_link">edit</a>
      <form action="/items/<%= @item.id %>" method='POST' class="form_reset">
        <input type='hidden' name='_method' value='DELETE'>
        <input type='submit' value='delete' class="create_link"/>
      </form>
    </div>
  </section>
  <div class="single-item-container">
    <figure>
      <h2><%= @item.merchant.name %></h2>
      <img src='<%= @item.image_url %>' class="individual-item"/>
    </figure>
    <article>
      <h2><%= @item.name %></h2>
      <h3>Price:</h3>
      <p><%= @item.unit_price %></p>
      <h3>About this item:</h3>
      <p><%= @item.description %></p>
    </article>
  </div>
  <footer>
    <p>Created by Keegan, JP, and Lucas<p>
  </footer>
</body>
</html>
